<!DOCTYPE html>
<html>
  <head>
    <title>Tscaffold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <% if current_user %>
      <li><%= link_to "プロフィール", "/profile/#{current_user.id}" %></li>
      <li><%= link_to "お題一覧", "/view" %></li>
      <li><%= link_to "お題をつくる", "/create/#{current_user.id}" %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
    <% end %>
  <body>
     <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>