<!DOCTYPE html>
<html>
  <head>
    <title>Tscaffold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
  </head>
    <% if current_user %>
      <nav>
        <ul>
          <li><%= link_to "プロフィール", "/profile/#{current_user.id}" %></li>
          <li><%= link_to "お題一覧", "/view" %></li>
          <li><%= link_to "お題をつくる", "/create/#{current_user.id}" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </nav>
    <% end %>
  <body>
     <% if flash[:notice] %>
      <div class="flash-left">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <%= yield %>
    <div id="page_top"><a href="#"></a></div>
  </body>
</html>