<div class="main posts-index">
  <div class="container">
    <h3>Favorite</h3>
    <div class="posts-index-item">
      <% @favorites.each do |like| %>
        <% photo = Photo.find_by(id: like.photo_id) %>
        <div class= "centering_parent">
          <div class= "centering_item">
            <div class="row">
              <div class="col s12 m7">
                <div class="card">
                  <div class="card-image">
                     <div class="img-box">
                      <a href="/photos/<%= photo.id %>">
                        <img src="<%= "/post_images/#{photo.image_name}" %>" >
                      </a>
                    </div>
                  </div>
                  <div class="card-content">
                    <p><%= photo.content %> (<%= photo.favorite_user.count %>)</p>
                  </div>
                  <div class="card-action">
                    <a href="/photos/<%= photo.id %>">This is a link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <!--ページネーション-->
    <%= paginate @fav %>
    </div>
  </div>
</div>