<script type="text/javascript">
<!--
var array = [];

function addStatus(str,str2)
{
  var spl = str2.split('status');
  //alert(Number(spl[1]));
  array[Number(spl[1])] = str + '/';
  //document.target.hidden_status_data.value = str;
  //lert(array[Number(spl[1])]);
}

function confirmStatus()
{
  var count = 0;
  while (true) {
    
    if(array[count].length > 0 ){
      //alert(array[count]);

      document.target.hidden_status_data.value += array[count];

      count++;

    }else{

      break;
    }
    
  }
  //alert("ok");
}
// -->
</script>

<%= @event.id %>
<br>
<%= @event.title %>
<br>
<%= @event.memo %>
<br>
<%= @event.url %>
<br>
<%= @event.candidate_date %>
<br>
<%= @event.candidate_count %>
<br>
<%= @test %>
 <table border="1">
    <tr>
      <th>候補日</th>
      <th>○</th>
      <th>▲</th>
      <th>✖︎</th>
    </tr>
    <% @event_s.each do |es| %>
      <tr>
        <td><%= es %></td>
        <% if @event.candidate_count == "0人" %>
          <td>0人</td>
          <td>0人</td>
          <td>0人</td>
        <% else %>
          <td>xx人</td>
          <td>xx人</td>
          <td>xx人</td>
        <% end %>
      </tr>
    <% end %>
</table>

<hr>
<%= form_tag("/update/#{@event.id}",{multipart: true,name:"target"}) do %>
  <p>名前</p>
  <input type="text" name="name">
  <br>
  <p>候補日</p>
  <% @event_s.each_with_index do |es,i| %>
    <p>
    <%= es %>
    ○<input type = "radio" name= <%= "status#{i}" %> value="○" onClick="addStatus(this.value, this.name)">
    ▲<input type = "radio" name= <%= "status#{i}" %> value="▲" onClick= "addStatus(this.value, this.name)">
    ✖︎<input type = "radio" name= <%= "status#{i}" %> value="✖︎" onClick="addStatus(this.value, this.name)">
    </p>
  <% end %>
  <br>
  <input type="hidden" name="hidden_status_data">
  <input type="submit" value="スケジュールを入力する" onclick="confirmStatus()">
<% end %>