<!DOCTYPE html>
<html>
  <head>
    <title>Esquisse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--レスポンシブデザインにするために追加-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!--グローバルナビゲーションの配置-->
    <nav>
      <div class="nav-wrapper">
        <% if current_user %>
          <%= link_to("Esquisse", root_path) %>
        <% else %>
          <%= link_to("Esquisse", "#") %>
          <!--<a href="#" class="brand-logo">Esquisse</a>-->
        <% end %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to("Photo", "/view") %></li>
            <li><%= link_to("Post", "/#{current_user.id}/post") %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to("Sign up", "/users/sign_up") %></li>
            <li><%= link_to("Log in", "/users/sign_in") %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
