<p id="notice"><%= notice %></p>
<script type="text/javascript">
<!--
function addTF(str)
{
  document.calendarForm.calendar.value += str + "18:00〜";
  document.calendarForm.calendar.value += '\n'
}
// -->
</script>
<h1>Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= form_tag("/create",{multipart: true,name:"calendarForm"}) do %>
  <p>タイトル</p>
  <input type = "text" name= "title">
  <br>
  <p>メモ</p>
  <input type = "text" name= "memo">
  <br>
  <p>カレンダー</p>
  <textarea name="calendar"></textarea>
  <br>
  <input type = "submit" value = "スケジュール作成">
<% end %>

<%= month_calendar events: @meetings do |date, meetings| %>
  <% if Date.today <= date %> 
    <input type="button" value="<%= date %>" onClick="addTF(this.value)"><br>
  <% else %>
    <%= date %>
  <% end %>
  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>