<h3>MyPage</h3>
<% if user_signed_in? %>
  <%= @user.name %>
  <!--<div class ="user_image">
    <% if @user.image_name != nil %>
      <img src = "<%= "/user_image/#{@user.image_name}" %>">
    <% end %>
  </div>
  -->
  <div class="user_content">
    <%= @user.profile %>
  </div>
  <!--お気に入りページのリンク表示を予定-->
   <ul class="collection">
    <li class="collection-item"><%= link_to "Profile", "/users/edit" %></li>
    <li class="collection-item"><%= link_to "Post", "#{current_user.id}/post" %></li>
    <li class="collection-item"><%= link_to "Photo", "/view" %></li>
    <li class="collection-item"><%= link_to "Favorite", "#{current_user.id}/favorite" %></li>
    <li class="collection-item"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  </ul>
  <hr>
  <h3>MyPhoto</h3>
  <% @user.photos.order(created_at: :desc).each do |photo| %>
    <div class="posts-index-item">
      <div class= "centering_parent">
        <div class= "centering_item">
          <div class="row">
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                   <div class="img-box">
                    <a href="/photos/<%= photo.id %>">
                      <img src="<%= "/post_images/#{photo.image_name}" %>" >
                    </a>
                  </div>
                </div>
                <div class="card-content">
                  <p><%= photo.content %> (<%= photo.favorite_user.count %>)</p>
                </div>
                <div class="card-action">
                  <%= link_to("Delete","/#{photo.id}/destroy",{method:"post",data: { confirm: "削除しますか？" }}) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>