<p>Contributor:<%= @photo.user.email %></p>
<div class="posts-index-item">
  <div class="img-box">
    <!-- 写真を表示-->
    <img src="<%= "/post_images/#{@photo.image_name}" %>" >
  </div>
  <div class="photo-content">
    <!--コメントを表示-->
    <%= @photo.content %>
  </div>
  <p>good: <%= @photo.favorites.count %></p>
  <% if current_user.already_fav?(@photo) %>
    <%= button_to 'cancel', photo_favorite_path(@photo), method: :delete %>
  <% else %>
    <%= button_to 'good', photo_favorites_path(@photo) %>
  <% end %>
</div>
<h3>Liked User</h3>
<% @photo.favorite_user.each do |user| %>
  <li><%= user.email %></li>
<% end %>
<%= link_to "My Page", photos_path %>