<div class="main posts-index">
  <div class="container">
    <%= search_form_for @q do |f| %>
      <%= f.label :name, "Keyword" %>
      <%= f.search_field :content_cont %>
    <%= f.submit "Search" ,class: "waves-effect waves-light btn" %>
    <% end %>
    <hr>
    <% @ask.each do |photo|  %>
      <div class="posts-index-item">
        <div class= "centering_parent">
          <div class= "centering_item">
            <div class="row">
              <div class="col s12 m7">
                <div class="card">
                  <div class="card-image">
                     <div class="img-box">
                      <a href="/photos/<%= photo.id %>">
                        <img src="<%= "/post_images/#{photo.image_name}" %>" >
                      </a>
                    </div>
                  </div>
                  <div class="card-content">
                    <p><%= photo.content %> (<%= photo.favorite_user.count %>)</p>
                  </div>
                  <div class="card-action">
                    <a href="/photos/<%= photo.id %>">This is a link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end %>
    <!--ページネーション-->
    <%= paginate @photos %>
  </div>
</div>