<div class="main posts-index">
  <div class="container">
    <%= search_form_for @q do |f| %>
      <%= f.label :name, "Keyword" %>
      <%= f.search_field :content_cont %>
    <%= f.submit "Search" %>
    <% end %>
    <hr>
    <% @ask.each do |photo|  %>
      <div class="posts-index-item">
          <div class="img-box">
          <!-- 写真を表示-->
          <img src="<%= "/post_images/#{photo.image_name}" %>" >
        </div>
          <!-- コメントを表示-->
        <div class="photo-content">
          <%= photo.content %>
        </div>
        <div class="favorite-user-count">
          <!--いいね表示予定-->
          (<%= photo.favorite_user.count %>)
        </div>
      </div>
    <%end %>
    <!--ページネーション-->
    <%= paginate @photos %>
  </div>
</div>
