<h1>プロフィール編集</h1>

<%= form_tag("/profile_update/#{@user.id}",{multipart: true}) do %>
  <div class="cp_iptxt">
    <input type="text" placeholder="お名前" name = "name" value= <%= @user.name %> >
    <textarea class = "textlines" placeholder="プロフィール" name="profile"><%= @user.profile %></textarea>
    <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    <br>
    <div class="btn-container">
      <input type ="submit" class="btn-border" value = "完了" name ="submitbtn">
    </div>
  </div>
  <!--
  <p>名前</p>
  <input type = "text" name = "name" value= <%= @user.name %> >
  <p>プロフィール</p>
  <textarea name="profile"><%= @user.profile %></textarea>
  <br>

  -->
<% end %>