<!-- レイアウトは後日検討-->
<p>投稿者:<%= @theme.user_name%></p>
<p>お題:<%= @theme.theme %></p>
<p>ステータス:<%= @theme.status %></p>

<!-- エラーメッセージを表示 -->
<% @comment.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<!-- コメント一覧の表示-->
<% if @comments.empty? %>
    <p>まだ回答が1件もありません</p>
  <% else %>
    <% @comments.each do |comment| %>
      <!--要ページへのリンク/ステータスの表示-->
      <p><%= comment.comment %></p>
    <% end %>
  <% end %>

<% if @theme.status == "募集中" %>
  <%= form_tag("/comments/#{@theme.user_id}",{multipart: true}) do %>
    コメント:
    <br>
    <!-- 要サイズ設定-->
    <textarea name="comment"></textarea>
    <input type="hidden" name="theme_id" value ="<%= @theme.id %>">
    <br>
    <div class="btn-container">
      <input type ="submit" class="btn-border" value = "コメントを書く" name ="submitbtn">
    </div>
  <% end %>
<% else %>
  <p>募集は終了しましたので、コメントを投稿することはできません</p>
<% end %>