<%= search_form_for @q,:url => {:action => :view} do |f| %>
  <%= f.label :name, "Keyword" %>
  <%= f.search_field :theme_cont %>
<%= f.submit "Search" ,class: "waves-effect waves-light btn" %>
<% end %>

 <% @ask.each do |theme| %>
  <!--後々修正予定。リンク先も追加すること-->
  <p>投稿者:<%= theme.user_name%> タイトル:<%= theme.theme %> 
    <% if theme.user_id == current_user.id %>
      <%= link_to("編集する","/theme_edit/#{theme.id}/#{theme.url}") %></p>
    <% else %>
      <%= link_to("コメントする","/theme_answer/#{theme.id}/#{theme.url}") %></p>
    <% end %>
 <% end %>