<div class="main users-edit">
  <div class="container">
    <div class="form-heading">profile</div>
    <div class="form users-form">
      <div class="form-body">
        <!--エラーメッセージの表示-->
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/#{@user.id}/update",{multipart: true}) do %>
          <!--ユーザー名-->
          <p>User_name</p>
          <input name="name" value="<%= @user.name %>">
          <!--イメージ画像-->
          <p>Image</p>
          <input name="image" type="file">
          <!--プロフィール文-->
          <p>content</p>
          <textarea name="profile"><%= @user.profile %></textarea>
          <!--パスワード-->
          <p>Password</p>
          <input name="password" type="password" value="<%= @user.password %>">
          <p>Password(Confirm)</p>
          <input name="repassword" type="password">
          <input type="submit" value="update">
        <% end %>
      </div>
    </div>
  </div>
</div>